/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #006666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.card {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
}

.card h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.card button {
  background-color: #0e9797;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0c7b7b;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card li {
  margin-bottom: 8px;
}

.card strong {
  font-weight: bold;
}

/* AutoresList specific styles */
.button-container {
  margin-bottom: 20px;
}

.button-container button {
  margin-right: 10px;
}

